@import "../fonts/museo/stylesheet.css";
@import"../libs/owl/owl.carousel.min.css";
@import"../libs/owl/owl.theme.default.min.css";
@import"../libs/bs/bootstrap-grid.min.css";
body{
    font-family: 'Museo Sans Cyrl 500', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html:focus-within{

}
@media (max-width: 1200px) {
    .container{
        max-width: 941px;
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 941px;
        width: 100%;
        margin: 0 auto;
    }
}


@import "../scss/variables";
@import "../scss/header";
@import "../scss/home";
@import "../scss/advantages";
@import "../scss/consultation";
@import "../scss/form";
@import "../scss/slider";
@import "../scss/catalog";
@import "../scss/feedback";
@import "../scss/footer";
@import "../scss/overlays";
@import "../scss/backToTop";